# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# .NET
*.user
*.suo
*.cache
*.log

# IDE
.vs/
.vscode/
.idea/
*.DotSettings.user

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/
